source https://nuget.org/api/v2
framework: auto-detect

nuget MaterialDesignColors ~> 1.2.0
nuget NuGet.CommandLine
nuget System.Net.Http >= 4.0
nuget ShowMeTheXAML 1.1.0-ci70 ci
nuget ShowMeTheXAML.AvalonEdit  1.1.0-ci70 ci
nuget ShowMeTheXAML.MSBuild 1.1.0-ci70 ci

nuget Microsoft.CSharp ~> 4.6.0
nuget System.Data.DataSetExtensions ~> 4.6.0-preview3.19128.7
nuget Microsoft.NETCore.Platforms ~> 3.0.0
